.header {
display: flex;
justify-content: space-between;
align-items: center; 
padding: 20px 40px;
background-color: black;
color: white; 
font-size: 24px;
font-weight: 700;
border-bottom: 4px solid #d7aa2e;

}
